name: Build Android APK
on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Cari dan Build APK
        run: |
          # Mencari file gradlew
          GRADLEW_PATH=$(find . -name gradlew | head -n 1)
          if [ -z "$GRADLEW_PATH" ]; then
            echo "Error: File gradlew tidak ditemukan."
            exit 1
          fi
          
          GRADLE_DIR=$(dirname "$GRADLEW_PATH")
          chmod +x "$GRADLEW_PATH"
          cd "$GRADLE_DIR"
          ./gradlew assembleDebug

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: app-debug
          path: "**/*.apk"
