name: Build Android APK
on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: setup node
        uses: actions/setup-node@v4
        with:
          node-version: 20
      
      - name: Force Install & Create Android
        run: |
          npm install
          npm install @capacitor/core @capacitor/cli @capacitor/android
          npm run build --if-present
          # Perintah sakti untuk membuat folder android yang hilang:
          npx cap add android || true 
          npx cap sync android

      - name: set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Build APK Final
        run: |
          cd android
          chmod +x gradlew
          ./gradlew clean
          ./gradlew assembleDebug --no-daemon

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: app-debug
          path: android/app/build/outputs/apk/debug/app-debug.apk
